################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Engine/v15
/Engine/Debug/Engine.tlog
/Engine/Debug
